.error-page {
  margin-top: 40px;
  text-align: center;

  .error-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: red;
  }
}

.job-page-container {
  border: solid blue 1px;
  display: flex;
  justify-content: center;
}
