.form-float-container {
  /* border: var(--inspect); */
  position: absolute;
  top: -40px;
  padding: 0 165px;
  width: 100%;

  form {
    width: 100%;
    height: 80px;
    border-radius: 6px;
    background-color: var(--clr-cardBackground);
    display: flex;

    .filter-wrapper {
      border-right: solid 1px #979797;
      height: 100%;
      width: 100%;
      padding-left: 20px;
      display: flex;
      align-items: center;

      .txt-input-label {
        margin-right: 15px;
        color: var(--clr-accent);
        font-size: 28px;
        display: grid;
        place-items: center;
        cursor: pointer;
      }

      & input[type="text"] {
        width: 100%;
        font-family: var(--font);
        font-size: 1rem;
        color: var(--clr-headingTxt);
        font-weight: 500;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: var(--clr-infoKeys);
          font-weight: 400;
        }
      }

      .checkbox-label {
        margin-left: 10px;
        color: var(--clr-headingTxt);
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
      }

      & input[type="checkbox"] {
        accent-color: var(--clr-accent);
        cursor: pointer;
      }
    }

    .submit-wrapper {
      padding: 0 15px 0 30px;
      border: none;
      display: flex;

      .submit-btn {
        margin-left: auto;
        min-width: 100px;
      }
    }
  }
}
